.btn-agregar-receta {
    background-color: #ff6347;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold
}

.btn-agregar-receta:hover {
    background-color: #f57e69;
}

.error-create-recipe {
    background-color: #ee3131;
    color: white;
    padding: 15px;
    display: flex;
    border-radius: 4px;
}

.error-create-recipe button {
    color: #ee3131;
    border: none;
    padding: 0px 7px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    transition: 280ms;
}

.error-create-recipe button:hover {
    background-color: #ef6d6d;
    color: white;
    transition: 280ms;

}

.btn-agregar-ingrediente {
    color: tomato;
    border: solid 1px tomato;
    border-radius: 4px;
    padding: 5px;
    transition: 280ms;
    cursor: pointer;
    background-color: white;
}

.btn-agregar-ingrediente:hover {
    color: white;
    background-color: tomato;
}

.input-text-standard {
    border: solid 1px grey;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

.input-text-standard:focus {
    outline: solid 1px tomato;
    border-color: #ff634700;
}

.name-receta {
    width: 80%;
}

.btn-x-radius {
    border: none;
    border-radius: 50px;
    padding: 1px 6px;
    padding-bottom: 2px;
    color:  white;
    font-weight: bolder;
    cursor: pointer;
    background-color: #fd8f8f;
    transition: 280ms;
}

.btn-x-radius:hover {
    background-color: #ff4545;
    color: white;
}