* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.ant-btn-primary {
    background-color: tomato;
}
:where(.css-dev-only-do-not-override-mxhywb).ant-btn-primary:not(:disabled):hover {
    background-color: #fe7f68;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-btn-default:not(:disabled):hover {
    color: tomato;
    border-color: tomato;
}